<div style="margin: 60px;"></div>
<footer id="footerpad" style="color: rgb(15,115,215);background-color: rgba(232,229,229,0);">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-8 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item"><a href="#"><a href="https://www.facebook.com/youthindiaFDN"
                                target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i
                                        class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a></a></li>
                    <li class="list-inline-item"><a href="#"><a href="https://twitter.com/YouthIndia_FDN"
                                target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i
                                        class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></a></li>
                    <li class="list-inline-item"><a href="#"><a href="https://www.instagram.com/your_.friend__/"
                                target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i
                                        class="fa fa-instagram fa-stack-1x fa-inverse"></i></span></a></a></li>
                    <li class="list-inline-item"><a href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<p class="copyright text-muted text-center">Copyright &copy; Youth India Foundation </p>