{% extends 'website/base.html' %}
{% load static %}
{% block title %}Your Friend{% endblock %}
{% block content %}
<div style="margin: 60px;"></div>
    <div style="padding: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card"><a href="#"><img class="img-fluid" data-aos="zoom-in" data-aos-duration="550" data-aos-once="true" src="{% static 'assets/img/c444.JPG' %}"></a></div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin: 102px;"></div>
    <div style="padding: 0px;margin: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card" style="background-color: #9dedd7;">
                        <div class="card-body">
                            <h4 class="text-center card-title">E-MENTAL HEALTH SERVICES</h4>
                            <p class="card-text" style="font-family: Poppins, sans-serif;"><br>Healing takes time and asking for it is a courageous step, so we at Your friend are asking you to trust us with your thoughts and problems so that we can help you be better because healthy minds make a better world. Dealing
                                with mental disorders is not easy and we understand that,thus we as an organisation provide mental health webinars, free mental health services, campaign and a healthy environment for you to speak out your mind. We want
                                to make sure that you receive the care you deserve with the help and guidance of certified therapists and stict confidential policy for your comfort. For the times you feel you can't talk to your friends or family with
                                the fear of being judged or humiliated, and for the times you don't want any advice but just an ear to hear every thought hovering on your mind, 'Your Friend' is just a click away. Reach out to us and we are here to help
                                you 24/7 because your mental health is our responsibilty. We have therapists onboard with us to provide you with the best help possible. We might not be there with you, but we're always there for you, through highs and
                                lows, and through thick and thin. The psychologists onboard are licenced and experienced professionals, providing the best possible help. The free e-mental health services are open to everyone who needs a place to vent
                                out and talk about your problems. Give yourselves a chance to be yourself. Reach out to us about anhthing you'd like to unleash. We provide non-judgemental, confidential and ethical helping environment.<br><br></p><a class="card-link"
                                href="#"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin: 60px;"></div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12"><div data-ride="carousel" class="carousel slide" id="carousel-1">
    <div role="listbox" class="carousel-inner">
        <div class="carousel-item active"><img class="w-100 d-block" src="{% static 'assets/img/1.jpg'%}" alt="Slide Image" style="height:500px" /></div>
        <div class="carousel-item"><img class="w-100 d-block" src="{% static 'assets/img/2.jpg'%}" style="height:500px" alt="Slide Image" /></div>
        <div class="carousel-item"><img class="w-100 d-block" src="{% static 'assets/img/3.jpg'%}" style="height:500px"  alt="Slide Image" /></div>
    </div>
    <div><a href="#carousel-1" role="button" data-slide="prev" class="carousel-control-prev"><span aria-hidden="true" class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a href="#carousel-1" role="button" data-slide="next" class="carousel-control-next"><span aria-hidden="true" class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
    <ol
        class="carousel-indicators">
        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-1" data-slide-to="1"></li>
        <li data-target="#carousel-1" data-slide-to="2"></li>
        </ol>
</div></div>
            </div>
        </div>
    </div>
    <div style="padding: 80px;"></div>
    <div class="card" style="background-color: #026670;">
        <div class="card-body">
            <h2 class="text-center card-title" style="font-family: Poppins, sans-serif;color: rgb(247,249,251);">ABOUT CELLS</h2>
            <p class="card-text" style="font-family: Poppins, sans-serif;color: rgb(223,227,231);padding: 11px;font-size: 20px;"><br>The Your Friend Initiative is a social enterprise initiative. It comprises of a team of junior and senior representatives under the supervision of trained therapists, all of whom are under a non disclosure agreement and are dedicated to
                handling all the cases they get with utmost care and delicacy, no judgement and by respecting anonymity and privacy. The severity of the case determines who will handle the particular case from junior representatives to senior representatives
                and trained therapists. India is a country abundant in dogmas, stereotypes and stigmas which make the mental health scenario less than ideal for us. The Your Friend Initiative aims to address and dissolve all of these taboos from their
                root. Tough school environments that promote bullying and peer pressure as well as stressful work environments often lead to stress and anxiety illnesses even at a very tender age. These problems can stem from any situation or experience
                that we face and then affect our daily life and functioning and also have other dangerous consequences like suicide and self-harm. The Your Friend Initiative aims to target these breeding grounds and provide a therapist to address these
                problems as well as train faculty members and students so that we can take small steps towards making a safe haven where everyone is heard and accepted. The plan would be to assign and M.Phil graduate level therapist to the institution
                to help the students work through issues, or just vent and also being a trained mind, pick out any serious problems and give them the attention they need. Alongside, it is important to spread awareness about mental health to sow the seed
                of acceptance and compassion so that it is a better environment for people facing problems. In light of this, there will be mental health awareness sessions to teach students about the dire consequences of bullying, stress and peer pressure.
                An incumbent training program will be set up for BA/MA Psychology students to volunteer to help their juniors and peers where they will provide counselling in the primary cases and deliver more serious and complicated cases to the therapist.
                This valuable internship experience will also provide Letters of Recommendation and Certificates of Completion. The same process will be applied for non-psychology institutions where the presence of the counsellor and team of trained professionals
                will benefit the nature and credibility of the institution as well as please guardians with an accepting and mentally safe environment where their child can unlock their true potential without any fear. This initiative will attract the
                youth through their vibrant advertising on social media sites. Webinars and brochures will throw light on the need for such a program. A feedback form or questionnaire will be provided to people after each session where all the concerns
                will be addressed and fixed with immediate effect to achieve our goal efficiently. Your Friend believes in the deliverance of value for money and since every institution is unique in its needs, number of students , demographic and location
                a customised plan will be drawn up for each client to promote the higher value and community welfare that both Youth India Foundation and the client institution will derive from this highly beneficial society-oriented social entrepreneurship
                program.<br><br></p>
        </div>
    </div>
    <div style="margin: 60px;"></div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card shadow"><img class="card-img-top w-100 d-block" src="{% static 'assets/img/download.png' %}" style="height: 450px;">
                        <div class="card-body">
                            <h4 class="text-center card-title" style="font-family: Poppins, sans-serif;">Internships</h4>
                            <p class="card-text" style="font-family: Poppins, sans-serif;">Mental illnesses are more common than cancer,diabetes or heart disease</p><a href="{% url 'internship' %}"><button class="btn btn-primary" type="button">Check  here</button></a></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card shadow"><img class="card-img-top w-100 d-block" src="{% static 'assets/img/MythsInfographic-(002)_800.jpg' %}" style="height: 450px;">
                        <div class="card-body">
                            <h4 class="text-center card-title" style="font-family: Poppins, sans-serif;">Webinars</h4>
                            <p class="card-text" style="font-family: Poppins, sans-serif;">Good mental health can improve life quality whereas poor mental health can worsen it</p><a href="{% url 'webinar' %}"><button class="btn btn-primary" type="button">Check here</button></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin: 60px;"></div>
    <div class="card" style="background-color: #026670;">
        <div class="card-body">
            <h2 class="text-center card-title" style="font-family: Poppins, sans-serif;color: rgb(247,249,251);">CAREER EMPOWERMENT</h2>
            <p class="card-text" style="font-family: Poppins, sans-serif;color: rgb(223,227,231);padding: 11px;font-size: 20px;"><br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id iaculis turpis. Sed non arcu vitae lorem sagittis consequat. Praesent vel venenatis magna, nec iaculis purus. Pellentesque id mattis tellus, consequat porttitor nunc.
                Aenean dictum dapibus orci, nec pharetra neque fringilla ac. Vivamus id erat imperdiet, bibendum ex non, sollicitudin odio. Integer laoreet egestas lorem, sed dictum enim rutrum eu. Mauris ac finibus ante. Phasellus eget maximus augue.
                Proin aliquam consequat odio quis laoreet.<br><br></p>
        </div>
    </div>
    <div style="margin: 60px;"></div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card shadow"><img class="card-img-top w-100 d-block" src="{% static 'assets/img/blog-august-1200x480.jpg' %}" style="height: 400px;">
                        <div class="card-body">
                            <h4 class="text-center card-title" style="font-family: Poppins, sans-serif;">Campaigns</h4>
                            <p class="card-text" style="font-family: Poppins, sans-serif;">Mental illnesses are more common than cancer,diabetes or heart disease</p><a href="{% url 'campaigns' %}"><button class="btn btn-primary" type="button">Check  here</button></a></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card shadow"><img class="card-img-top w-100 d-block" src="{% static 'assets/img/ehealth-tech.png' %}" style="height: 400px;">
                        <div class="card-body">
                            <h4 class="text-center card-title" style="font-family: Poppins, sans-serif;">Mental Health Services</h4>
                            <p class="card-text" style="font-family: Poppins, sans-serif;">Mental Halth is the successful performance of the mental function resulting in productive activities</p><a href="{% url 'mental' %}"><button class="btn btn-primary" type="button">Check here</button></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
